body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 725px;
    background: linear-gradient(135deg, #274ecf, #671cc3);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.todo-box {
    background: white;
    padding: 20px 40px;
    border-radius: 8px;
    text-align: center;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

input {
    width: 70%;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid rgb(105, 94, 94);
    border-radius: 4px;
    font-size: 16px;
}

button {
    background-color: rgb(247, 56, 56);
    border: none;
    padding: 11px 20px;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background: white;
    padding: 10px;
    margin: 10px 0;
    border-radius: 4px;
    display: flex;
    align-items: center;
}

.line{
    text-decoration: line-through;
}

.done {
    background-color: green;
    margin-left: 90px;
}

.del {
    margin-left: 10px;
}
